* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* hero section */
#hero {
  background-color: #f4f6f5;
  padding: 20px;
  border-radius: 50px;
  margin: 20px;
}
.hero-design {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  height: 80px;
  width: 300px;
  background-image: url("img/Rectangle 3.png");
  font-weight: bolder;
  font-size: 3.8rem;
  background-repeat: no-repeat;
}
.hero-design2 {
  position: relative;
  padding: 5px;
  padding-left: 10px;
  height: 50px;
  width: 15px;
  padding-right: 70px;
  background-image: url("img/Rectangle 6.png");
  font-weight: bolder;
  font-size: 3.8rem;
  background-repeat: no-repeat;
}
.span-tag {
  font-weight: bolder;
  font-size: 3.8rem;
}

/* brand section */
.brand-icon {
  background-color: #e5c643;
  display: flex;
  justify-content: space-evenly;
}

/* <!-- arrival 3 card design --> */
/* #card-img{
    width: 50vh;
    height: 80vh;
} */

.card-img1 {
  position: relative;
  background-image: url("img/Vector\ 8.png");
  background-repeat: no-repeat;
  position: left bottom;
  font-weight: bolder;
  font-size: 1.6rem;
}

.card-a {
  text-decoration: none;
  color: grey;
}

.card-body {
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  border: none;
}

/* <!-- banner section start  -> */

#hero-bg {
  background-color: #e5c643;
}

.payday {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  height: 80px;
  width: 300px;
  background-image: url("img/Rectangle 3.png");
  font-weight: bolder;
  font-size: 3.8rem;
  background-repeat: no-repeat;
}
.span-tag3 {
  font-weight: bolder;
  font-size: 3.8rem;
}
.date-design {
  font-size: 1.8rem;
  font-weight: bolder;
}

/* <!-- vouchers section --> */

.form-control {
  background-color: white;
  position: relative;
  right: 0;
  width: 100px;
  height: 50px;
}
.font {
  font-size: 2.8rem;
  font-weight: bolder;
}
#vouchers-img {
  width: 80px;
  height: 30px;
}
/* #vouchers-img1 {
  height: 80vh;
  width: 327px;
} */
/*  community Ractangle banner */
.banner {
  background-color: #e5c643;
  padding: 120px;
}
.font2 {
  font-size: 2.6rem;
  font-weight: bolder;
}

.container2 {
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  padding: 5px;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 2px 0px 5px, -2px -0px 5px #ffffff;
}
.form-box input {
  font-size: 1.2rem;
  color: #00000090;
  padding: 5px 5px;
  border: none;
  outline: none;
  background: #ffffff;
}
.form-box button {
  color: #fff;
  padding: 5px 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  cursor: pointer;
}

/* 
footer section */
footer {
  color: wheat;
  background-color: black;
  padding: 60px;
}

footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

footer h3 {
  font-weight: bold;
  color: white;
}
/* 
   #bg-img3{
    background-image: url("img/Ellipse_1__1_-removebg-preview.png");
    background-repeat: no-repeat;
     position:relative; 
     position: bottom center;
     display: flex;
     align-items: center;
    justify-content:center;  
    padding: 20px;
     

   

 }   */
